* {
    font-family: 'Oswald', sans-serif;
}

body {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    
    height: 100vh;
    
    color: white;
    
    background-color: #444;
}

.calculator {
    display: flex;
    flex-direction: column;
    
    width: 235px;
    height: 320px;
    
    border-radius: 5px;
    border: 1px solid #999;
    
    overflow: hidden;
}
 
.display {
    grid-column: span 4;
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    height: 100%;
    
    border-bottom: 1px solid #999;
    
    padding-right: 10px;
    
    font-size: 2em;
    
    background-color: #0004;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 48px 48px 48px 48px 48px;
}

.button {
    border: none;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
    
    font-size: 1.2em;
    font-family: Oswald;
    
    background-color: #ccc;
    
    overflow: hidden;
    outline: none;
}

button:active {
    background-color: #ccca;
}
 
.button.ac {
    grid-column: span 3;
}

.button.zero {
    grid-column: span 2;
}

.button.operator {
    border-right: none;
    
    color: #fff;
    
    background-color: #555;
}

.button.operator:active { 
    background-color: #555a;
}

.button.equals {
    color: #fff;
    
    border-right: none;
    border-bottom: none;
    
    background-color: #dc143c;
}

.button.equals:active {
    background-color: #dc143c99;
}